

.container {
    background-color: #eee;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.timeLines {
    width: 50%;
    margin: auto;
    text-align: left;
}

li {
    padding: 10px;
}

.footer {
    width: 60%;
    margin: auto;
}